@import "tailwindcss";

@theme {
  --color-cardinal:    #C5050C;
  --color-amber:       #C49A2E;
  --color-dark:        #1A1510;
  --color-off-white:   #F6F3EE;
  --color-cardinal-dark:  #8A0308;
  --color-amber-dark:    #8A6C1F;
  --color-cardinal-light: #F2C9CA;
  --color-cardinal-mid: #DC676B;
  --color-muted-light: #8A8078;
  --color-cream:       #EDE9DF;
}

html {
  overscroll-behavior-y: none; /*TODO: maybe not include this for mobile refreshing*/
}